{% extends 'base.html' %}
{% load static %}


{% block main %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">POPULAR COURSES</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="{% url "home" %}">Home</a></li>
                            <li>Courses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Search Category Start-->
<div class="search-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <form action="" method="post">
                    <div class="form-container">
                        <div class="box-select">
                            <div class="select large">
                                <select name="category">
                                    <option>All Categories</option>
                                    <option>Web Design</option>
                                    <option>Designing</option>
                                    <option>Development</option>
                                    <option>Programming</option>
                                    <option>Developing</option>
                                </select>
                            </div>
                            <div class="select small">
                                <select name="date">
                                    <option>Price</option>
                                    <option>$10000</option>
                                    <option>$35000</option>
                                    <option>$67000</option>
                                    <option>$82000</option>
                                    <option>$95000</option>
                                </select>
                            </div>
                            <div class="select medium">
                                <select name="date">
                                    <option>Course Type</option>
                                    <option>Web Design</option>
                                    <option>Designing</option>
                                    <option>Development</option>
                                    <option>Programming</option>
                                    <option>Developing</option>
                                </select>
                            </div>
                        </div>
                        <button type="button">Search Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Search Category-->
<!--Course Area Start-->
<div class="course-area section-padding course-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                        <a href="{% url "catalog" %}"><img src="{% static "img/course/1.jpg" %}" alt=""></a>
                    </div>
                    <div class="single-item-text">
                        <h4><a href="{% url "catalog" %}">Photoshop CC 2017</a></h4>
                        <div class="single-item-text-info">
                            <span>By: <span>M S Nawaz</span></span>
                            <span>Date: <span>20.5.15</span></span>
                        </div>
                        <p>There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo
ur,There are many but the mri have suffered alteration in some </p>
                        <div class="single-item-content">
                           <div class="single-item-comment-view">
                               <span><i class="zmdi zmdi-eye"></i>59</span>
                               <span><i class="zmdi zmdi-comments"></i>19</span>
                           </div>
                           <div class="single-item-rating">
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star-half"></i>
                           </div>
                        </div>
                    </div>
                    <div class="button-bottom">
                        <a href="{% url "catalog" %}" class="button-default">Learn Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                        <a href="{% url "catalog" %}"><img src="{% static "img/course/2.jpg" %}" alt=""></a>
                    </div>
                    <div class="single-item-text">
                        <h4><a href="{% url "catalog" %}">Illustrator CC 2017</a></h4>
                        <div class="single-item-text-info">
                            <span>By: <span>Subas Das</span></span>
                            <span>Date: <span>20.5.15</span></span>
                        </div>
                        <p>There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo
ur,There are many but the mri have suffered alteration in some </p>
                        <div class="single-item-content">
                           <div class="single-item-comment-view">
                               <span><i class="zmdi zmdi-eye"></i>59</span>
                               <span><i class="zmdi zmdi-comments"></i>19</span>
                           </div>
                           <div class="single-item-rating">
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star-half"></i>
                           </div>
                        </div>
                    </div>
                    <div class="button-bottom">
                        <a href="{% url "catalog" %}" class="button-default">Learn Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                        <a href="{% url "catalog" %}"><img src="{% static "img/course/3.jpg" %}" alt=""></a>
                    </div>
                    <div class="single-item-text">
                        <h4><a href="{% url "catalog" %}">Indesign CC 2017</a></h4>
                        <div class="single-item-text-info">
                            <span>By: <span>Momin Boss</span></span>
                            <span>Date: <span>20.5.15</span></span>
                        </div>
                        <p>There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo
ur,There are many but the mri have suffered alteration in some </p>
                        <div class="single-item-content">
                           <div class="single-item-comment-view">
                               <span><i class="zmdi zmdi-eye"></i>59</span>
                               <span><i class="zmdi zmdi-comments"></i>19</span>
                           </div>
                           <div class="single-item-rating">
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star-half"></i>
                           </div>
                        </div>
                    </div>
                    <div class="button-bottom">
                        <a href="{% url "catalog" %}" class="button-default">Learn Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                        <a href="{% url "catalog" %}"><img src="{% static "img/course/4.jpg" %}" alt=""></a>
                    </div>
                    <div class="single-item-text">
                        <h4><a href="{% url "catalog" %}">Photoshop CC 2017</a></h4>
                        <div class="single-item-text-info">
                            <span>By: <span>M S Nawaz</span></span>
                            <span>Date: <span>20.5.15</span></span>
                        </div>
                        <p>There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo
ur,There are many but the mri have suffered alteration in some </p>
                        <div class="single-item-content">
                           <div class="single-item-comment-view">
                               <span><i class="zmdi zmdi-eye"></i>59</span>
                               <span><i class="zmdi zmdi-comments"></i>19</span>
                           </div>
                           <div class="single-item-rating">
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star-half"></i>
                           </div>
                        </div>
                    </div>
                    <div class="button-bottom">
                        <a href="{% url "catalog" %}" class="button-default">Learn Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                        <a href="{% url "catalog" %}"><img src="{% static "img/course/5.jpg" %}" alt=""></a>
                    </div>
                    <div class="single-item-text">
                        <h4><a href="{% url "catalog" %}">Illustrator CC 2017</a></h4>
                        <div class="single-item-text-info">
                            <span>By: <span>Subas Das</span></span>
                            <span>Date: <span>20.5.15</span></span>
                        </div>
                        <p>There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo
ur,There are many but the mri have suffered alteration in some </p>
                        <div class="single-item-content">
                           <div class="single-item-comment-view">
                               <span><i class="zmdi zmdi-eye"></i>59</span>
                               <span><i class="zmdi zmdi-comments"></i>19</span>
                           </div>
                           <div class="single-item-rating">
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star-half"></i>
                           </div>
                        </div>
                    </div>
                    <div class="button-bottom">
                        <a href="{% url "catalog" %}" class="button-default">Learn Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                        <a href="{% url "catalog" %}"><img src="{% static "img/course/6.jpg" %}" alt=""></a>
                    </div>
                    <div class="single-item-text">
                        <h4><a href="{% url "catalog" %}">Indesign CC 2017</a></h4>
                        <div class="single-item-text-info">
                            <span>By: <span>Momin Boss</span></span>
                            <span>Date: <span>20.5.15</span></span>
                        </div>
                        <p>There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo
ur,There are many but the mri have suffered alteration in some </p>
                        <div class="single-item-content">
                           <div class="single-item-comment-view">
                               <span><i class="zmdi zmdi-eye"></i>59</span>
                               <span><i class="zmdi zmdi-comments"></i>19</span>
                           </div>
                           <div class="single-item-rating">
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star"></i>
                               <i class="zmdi zmdi-star-half"></i>
                           </div>
                        </div>
                    </div>
                    <div class="button-bottom">
                        <a href="{% url "catalog" %}" class="button-default">Learn Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pagination-content">
                    <ul class="pagination">
                        <li><a href="{% url "catalog" %}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                        <li class="current"><a href="{% url "catalog" %}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Course Area-->

{% endblock main %}