{% extends 'base.html' %}
{% load static %}


{% block main %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">{{ essay.name }}</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="{% url "home" %}">Home</a></li>
                            <li>{{ essay.cat_name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--News Details Area Start-->
<div class="news-details-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-12">
                <div class="news-details-content">
                   <div class="single-latest-item">
                        <div class="single-latest-text">
                            <h2>{{ essay.name }} ({{ essay.slug }})</h2>
                            <br>
                            <div class="single-item-comment-view">
                               <span><i class="zmdi zmdi-calendar-check"></i>{{ essay.published }}</span>
                               <span><i class="zmdi zmdi-favorite"></i>Category: {{ essay.cat_name }}</span>
                               <span><i class="zmdi zmdi-favorite"></i>Tag: {{ essay.tag_name }}</span>
                            </div>
                            <br>
                            {{ essay.description }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-12">
                <div class="sidebar-widget">
                    <div class="single-sidebar-widget">
                        <h4 class="title">Recent Posts</h4>
                        <div class="recent-content">
                            <div class="recent-content-item">
                                <a href="#!">
                                    <img src="{% static "img/event/7.jpg" %}" alt="">
                                </a>
                                <div class="recent-text">
                                    <h4><a href="#!">Learn English in</a></h4>
                                    <div class="single-item-comment-view">
                                        <span><i class="zmdi zmdi-eye"></i>59</span>
                                        <span><i class="zmdi zmdi-comments"></i>19</span>
                                    </div>
                                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                                </div>
                            </div>
                            <div class="recent-content-item">
                                <a href="#!"><img src="{% static "img/event/8.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">Team Works</a></h4>
                                    <div class="single-item-comment-view">
                                        <span><i class="zmdi zmdi-eye"></i>59</span>
                                        <span><i class="zmdi zmdi-comments"></i>19</span>
                                    </div>
                                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                                </div>
                            </div>
                            <div class="recent-content-item">
                                <a href="#!"><img src="{% static "img/event/9.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">Learn With Fun</a></h4>
                                    <div class="single-item-comment-view">
                                        <span><i class="zmdi zmdi-eye"></i>59</span>
                                        <span><i class="zmdi zmdi-comments"></i>19</span>
                                    </div>
                                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                                </div>
                            </div>
                            <div class="recent-content-item">
                                <a href="#!"><img src="{% static "img/event/10.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">Writing Skill</a></h4>
                                    <div class="single-item-comment-view">
                                        <span><i class="zmdi zmdi-eye"></i>59</span>
                                        <span><i class="zmdi zmdi-comments"></i>19</span>
                                    </div>
                                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar-widget comment">
                        <h4 class="title">Recent Comment</h4>
                        <div class="recent-content">
                            <div class="recent-content-item">
                                <a href="#!"><img src="{%  static "img/comment/3.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">MR Soytan Ali</a></h4>
                                    <p>There are many varia passages of Lorem Ipsuable,amar sonar</p>
                                </div>
                            </div>
                            <div class="recent-content-item">
                                <a href="#!"><img src="{%  static "img/comment/2.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">MD Tokdir  Ali</a></h4>
                                    <p>There are many varia passages of Lorem Ipsuable,amar sonar</p>
                                </div>
                            </div>
                            <div class="recent-content-item">
                                <a href="#!"><img src="{%  static "img/comment/1.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">MR Soytan Ali</a></h4>
                                    <p>There are many varia passages of Lorem Ipsuable,amar sonar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar-widget">
                        <h4 class="title">Search by Tags</h4>
                        <ul class="tags">
                            <li><a href="#!">Photoshop</a></li>
                            <li><a href="#!">Design</a></li>
                            <li><a href="#!">Tutorial</a></li>
                            <li><a href="#!">Courses</a></li>
                            <li><a href="#!">Premium</a></li>
                            <li><a href="#!">Designtuto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of News Details Area-->


{%  endblock main %}