{% extends 'base.html' %}
{% load static %}


{% block main %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area fixed-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">{{ essay.name }}</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="{% url "home" %}">Home</a></li>
                            <li>{{ essay.cat_name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--News Details Area Start-->
<div class="news-details-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="event-details-content">
                    <div class="single-event-item">
                        <div class="single-event-text">
                            <h3>{{ essay.name }}</h3>
                            <br>
                            <div class="single-item-comment-view">
                               <span><i class="zmdi zmdi-calendar-check"></i>{{ essay.published }}</span>
                               <span><i class="zmdi zmdi-favorite"></i>Category: {{ essay.cat_name }}</span>
                               <span><i class="zmdi zmdi-favorite"></i>Tag: {{ essay.tag_name }}</span>
                            </div>
                            <hr>
                            <br>
                            {{ essay.description|safe }}
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-12 col-12">
                <div class="sidebar-widget">
                    <div class="single-sidebar-widget">
                        <h4 class="title">Recent Posts</h4>
                        <div class="recent-content">
                            <div class="recent-content-item">
                                <a href="#!">
                                    <img src="{% static "img/event/7.jpg" %}" alt="">
                                </a>
                                <div class="recent-text">
                                    <h4><a href="#!">Learn English in</a></h4>
                                    <div class="single-item-comment-view">
                                        <span><i class="zmdi zmdi-eye"></i>59</span>
                                        <span><i class="zmdi zmdi-comments"></i>19</span>
                                    </div>
                                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                                </div>
                            </div>
                            <div class="recent-content-item">
                                <a href="#!"><img src="{% static "img/event/8.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">Team Works</a></h4>
                                    <div class="single-item-comment-view">
                                        <span><i class="zmdi zmdi-eye"></i>59</span>
                                        <span><i class="zmdi zmdi-comments"></i>19</span>
                                    </div>
                                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                                </div>
                            </div>
                            <div class="recent-content-item">
                                <a href="#!"><img src="{% static "img/event/9.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">Learn With Fun</a></h4>
                                    <div class="single-item-comment-view">
                                        <span><i class="zmdi zmdi-eye"></i>59</span>
                                        <span><i class="zmdi zmdi-comments"></i>19</span>
                                    </div>
                                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                                </div>
                            </div>
                            <div class="recent-content-item">
                                <a href="#!"><img src="{% static "img/event/10.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">Writing Skill</a></h4>
                                    <div class="single-item-comment-view">
                                        <span><i class="zmdi zmdi-eye"></i>59</span>
                                        <span><i class="zmdi zmdi-comments"></i>19</span>
                                    </div>
                                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar-widget comment">
                        <h4 class="title">Recent Comment</h4>
                        <div class="recent-content">
                            <div class="recent-content-item">
                                <a href="#!"><img src="{%  static "img/comment/3.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">MR Soytan Ali</a></h4>
                                    <p>There are many varia passages of Lorem Ipsuable,amar sonar</p>
                                </div>
                            </div>
                            <div class="recent-content-item">
                                <a href="#!"><img src="{%  static "img/comment/2.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">MD Tokdir  Ali</a></h4>
                                    <p>There are many varia passages of Lorem Ipsuable,amar sonar</p>
                                </div>
                            </div>
                            <div class="recent-content-item">
                                <a href="#!"><img src="{%  static "img/comment/1.jpg" %}" alt=""></a>
                                <div class="recent-text">
                                    <h4><a href="#!">MR Soytan Ali</a></h4>
                                    <p>There are many varia passages of Lorem Ipsuable,amar sonar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar-widget">
                        <h4 class="title">Search by Tags</h4>
                        <ul class="tags">
                            <li><a href="#!">Photoshop</a></li>
                            <li><a href="#!">Design</a></li>
                            <li><a href="#!">Tutorial</a></li>
                            <li><a href="#!">Courses</a></li>
                            <li><a href="#!">Premium</a></li>
                            <li><a href="#!">Designtuto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of News Details Area-->


<div class="contact-form-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="event-details-content">
                    <div class="comments">
                        <h4 class="title">Comments</h4>
                        {% if reviews %}
                            {% for review in reviews %}
                            <div class="single-comment">
                                <div class="comment-text">
                                    <div class="author-info">
                                        <h4><a href="#">{{ review.name }}</a></h4>
                                        <span class="comment-time">Posted on {{ review.published }} </span>
                                        <div class="single-item-text">
                                            <div class="single-item-content">
                                               <div class="single-item-rating">
                                               {% for i in '12345' %}
                                                   {% if review.rating >= i|add:0 %}
                                                       <span><i class="zmdi zmdi-star"></i></span>
                                                   {% else %}
                                                       <span><i class="zmdi zmdi-star-outline"></i></span>
                                                   {% endif %}
                                               {% endfor %}
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>{{ review.comment|safe }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>No comments yet. Be first!</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-12">

                <h4 class="contact-title">send your comment</h4>

                <div class="rating-row pt-2">

                    <form id="contact-form" action="{% url 'essay' object.slug %}" method="post">
                        {% csrf_token %}

                        <p class="d-block">Your Rating</p>
                        <span class="rating-widget-block">
                            <input type="radio" name="rating" value="1" id="star1">
                            <label for="star1"></label>
                            <input type="radio" name="rating" value="2" id="star2">
                            <label for="star2"></label>
                            <input type="radio" name="rating" value="3" id="star3">
                            <label for="star3"></label>
                            <input type="radio" name="rating" value="4" id="star4">
                            <label for="star4"></label>
                            <input type="radio" name="rating" value="5" id="star5">
                            <label for="star5"></label>
                        </span>
                        <br><br>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="name" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <input type="url" name="website" placeholder="Website">
                            </div>
                            <div class="col-md-12">
                                <textarea name="comment" cols="30" rows="10" placeholder="Comment"></textarea>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="button-default">SUBMIT</button>
                            </div>
                            <div class="col-md-9">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </div>
                        </div>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>


{%  endblock main %}