{% extends 'base.html' %}
{% load static %}


{% block main %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">SEARCH RESULT</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="{% url "home" %}">Home</a></li>
                            <li>Essays List</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->

<div class="latest-area section-padding bg-white">
    <div class="container">
        <div class="row">
            {% for essay in essays %}
            <div class="col-md-12 col-12">
                <div class="single-latest-item">
                    <div class="single-latest-text">
                        <h3><a  href="{% url "essay" cat_name essay.slug %}">{{ essay.name }}</a></h3>
                        <div class="single-item-comment-view">
                           <span><i class="zmdi zmdi-calendar-check"></i>{{ essay.published }}</span>
                           <span><i class="zmdi zmdi-favorite"></i>Category {{ cat_name }}</span>
                       </div>
                       <div>{{ essay.descr }}</div>
                    </div>
                </div>
            </div>
            {% empty %}
                <h3>No Essays found.</h3>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main %}
