{% extends 'base.html' %}
{% load static %}


{% block main %}

<!--Background Area Start-->
<div class="background-area no-animation">
    <img src="/static/img/slider/1.jpg" alt=""/>
    <div class="banner-content static-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content-wrapper full-width">
                        <div class="text-content text-center">
                            <h1 class="title1 text-center mb-20">
                                <span class="tlt block" data-in-effect="rollIn" data-out-effect="fadeOutRight" >Essay Needs?</span>
                                <span class="tlt block" data-in-effect="fadeInLeftBig" data-out-effect="fadeOutRight">Look on Essays Base.</span>
                            </h1>
                            <div class="banner-readmore wow bounceInUp" data-wow-duration="2500ms" data-wow-delay=".1s">
                                <a class="button-default" href="{% url "home" %}">Find Essay Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Background Area-->

<!--Search Category Start-->
<div class="search-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <form action="{% url "result" %}" method="get">
{#                    {% csrf_token %}#}
                    <div class="form-container">
                        <div class="box-select">
                            <div class="select large">
                                <input autofocus id="search_input" name="search_input" value="" type="text">
                            </div>
                            <div class="select medium">
                                <select name="category">
                                    <option selected class="select" value="">All Categories</option>
                                    {% for cat in cats %}
                                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="select small">
                                <select name="tag">
                                    <option selected value="">All Tags</option>
                                    {% for tag in tags %}
                                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button id="submit_button" type="submit">Search Essay</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Search Category-->

<div class="fun-factor-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper white">
                    <div class="section-title">
                        <br><p></p><br>
                        <h3>IMPORTANT FACTS</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-fun-factor">
                    <h4>Categories</h4>
                    <h2><span class="counter">80</span>+</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-fun-factor">
                    <h4>Tags</h4>
                    <h2><span class="counter">60</span>+</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-fun-factor">
                    <h4>Essays</h4>
                    <h2><span class="counter">3000</span>+</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-fun-factor">
                    <h4>Countries</h4>
                    <h2><span class="counter">20</span>+</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!--About Area Start-->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="about-container">
                    <h3>WHY ESSAYS BASE?</h3>
                    <p>This is a free Essays database. Use our tools and essay examples to get your paper started and finished. Starting a paper is hard - our essay examples must help you get past writer's block and finish paper on time.</p>
                    <a class="button-default" href="{% url "home" %}">Go to Catalog</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of About Area-->




{%  endblock main %}
